apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml
  - secrets-per-workload.yaml

images:
  - name: project-backend
    newName: registry.onstackit.cloud/senticor/project/backend
    newTag: "1b1877181a29a0d4fd6dd648879882096442849c"
  - name: project-frontend
    newName: registry.onstackit.cloud/senticor/project/frontend
    newTag: "1b1877181a29a0d4fd6dd648879882096442849c"
  - name: project-storybook
    newName: registry.onstackit.cloud/senticor/project/storybook
    newTag: "1b1877181a29a0d4fd6dd648879882096442849c"
  - name: project-agents
    newName: registry.onstackit.cloud/senticor/project/agents
    newTag: "1b1877181a29a0d4fd6dd648879882096442849c"

patches:
  - path: patches/backend.yaml
  - path: patches/worker.yaml
  - path: patches/push-worker.yaml
  - path: patches/watch-worker.yaml
  - path: patches/agents.yaml
  - path: patches/frontend.yaml
  - path: patches/storybook.yaml
  - path: patches/postgres.yaml
  - path: patches/backend-pubsub.yaml
  - path: patches/worker-pubsub.yaml
  - path: patches/watch-worker-pubsub.yaml
