apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml

images:
  - name: project-backend
    newName: registry.onstackit.cloud/senticor/project/backend
    newTag: "dc1cfa6b3108959b079a59f30ec6e7d19f3cf794"
  - name: project-frontend
    newName: registry.onstackit.cloud/senticor/project/frontend
    newTag: "dc1cfa6b3108959b079a59f30ec6e7d19f3cf794"
  - name: project-storybook
    newName: registry.onstackit.cloud/senticor/project/storybook
    newTag: "dc1cfa6b3108959b079a59f30ec6e7d19f3cf794"
  - name: project-agents
    newName: registry.onstackit.cloud/senticor/project/agents
    newTag: "dc1cfa6b3108959b079a59f30ec6e7d19f3cf794"

patches:
  - path: patches/backend.yaml
  - path: patches/worker.yaml
  - path: patches/push-worker.yaml
  - path: patches/watch-worker.yaml
  - path: patches/agents.yaml
  - path: patches/frontend.yaml
  - path: patches/storybook.yaml
  - path: patches/postgres.yaml
  - path: patches/backend-pubsub.yaml
  - path: patches/worker-pubsub.yaml
  - path: patches/watch-worker-pubsub.yaml
