apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml

images:
  - name: project-backend
    newName: registry.onstackit.cloud/senticor/project/backend
    newTag: "7f2e9894881fee90866b71f5edec988bf69fdb6f"
  - name: project-frontend
    newName: registry.onstackit.cloud/senticor/project/frontend
    newTag: "7f2e9894881fee90866b71f5edec988bf69fdb6f"
  - name: project-storybook
    newName: registry.onstackit.cloud/senticor/project/storybook
    newTag: "7f2e9894881fee90866b71f5edec988bf69fdb6f"
  - name: project-agents
    newName: registry.onstackit.cloud/senticor/project/agents
    newTag: "7f2e9894881fee90866b71f5edec988bf69fdb6f"

patches:
  - path: patches/backend.yaml
  - path: patches/worker.yaml
  - path: patches/push-worker.yaml
  - path: patches/watch-worker.yaml
  - path: patches/agents.yaml
  - path: patches/frontend.yaml
  - path: patches/storybook.yaml
  - path: patches/postgres.yaml
  - path: patches/backend-pubsub.yaml
  - path: patches/worker-pubsub.yaml
  - path: patches/watch-worker-pubsub.yaml
