apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml
  - gitlab-ci-exporter-config.yaml

images:
  - name: project-backend
    newName: registry.onstackit.cloud/senticor/project/backend
    newTag: "db7314ef"
  - name: project-frontend
    newName: registry.onstackit.cloud/senticor/project/frontend
    newTag: "db7314ef"
  - name: project-storybook
    newName: registry.onstackit.cloud/senticor/project/storybook
    newTag: "db7314ef"

patches:
  - path: patches/backend.yaml
  - path: patches/worker.yaml
  - path: patches/push-worker.yaml
  - path: patches/watch-worker.yaml
  - path: patches/frontend.yaml
  - path: patches/storybook.yaml
  - path: patches/postgres.yaml
  - path: patches/backend-pubsub.yaml
  - path: patches/worker-pubsub.yaml
  - path: patches/watch-worker-pubsub.yaml
  - path: patches/gitlab-ci-exporter.yaml
