apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml

images:
  - name: project-backend
    newName: registry.onstackit.cloud/senticor/project/backend
    newTag: "fcae5e1f1710bcedfc470d14c5233642e7839a28"
  - name: project-frontend
    newName: registry.onstackit.cloud/senticor/project/frontend
    newTag: "fcae5e1f1710bcedfc470d14c5233642e7839a28"
  - name: project-storybook
    newName: registry.onstackit.cloud/senticor/project/storybook
    newTag: "fcae5e1f1710bcedfc470d14c5233642e7839a28"
  - name: project-agents
    newName: registry.onstackit.cloud/senticor/project/agents
    newTag: "fcae5e1f1710bcedfc470d14c5233642e7839a28"

patches:
  - path: patches/backend.yaml
  - path: patches/worker.yaml
  - path: patches/push-worker.yaml
  - path: patches/watch-worker.yaml
  - path: patches/agents.yaml
  - path: patches/frontend.yaml
  - path: patches/storybook.yaml
  - path: patches/postgres.yaml
  - path: patches/backend-pubsub.yaml
  - path: patches/worker-pubsub.yaml
  - path: patches/watch-worker-pubsub.yaml
