apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml
  - ingress.yaml

images:
  - name: terminandoyo-backend
    newName: harbor.100-114-108-51.nip.io:30443/terminandoyo/backend
    newTag: "36a6996e"
  - name: terminandoyo-frontend
    newName: harbor.100-114-108-51.nip.io:30443/terminandoyo/frontend
    newTag: "36a6996e"
  - name: terminandoyo-storybook
    newName: harbor.100-114-108-51.nip.io:30443/terminandoyo/storybook
    newTag: "36a6996e"

patches:
  - path: patches/backend.yaml
  - path: patches/worker.yaml
  - path: patches/push-worker.yaml
  - path: patches/frontend.yaml
  - path: patches/storybook.yaml
  - path: patches/postgres.yaml
