apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml
  - rbac-openclaw-runtime.yaml
  - secrets-per-workload.yaml

images:
  - name: project-backend
    newName: registry.onstackit.cloud/senticor/project/backend
    newTag: "81bf7bd935ed2324b45af28c64b599c7c759a1cb"
  - name: project-frontend
    newName: registry.onstackit.cloud/senticor/project/frontend
    newTag: "81bf7bd935ed2324b45af28c64b599c7c759a1cb"
  - name: project-storybook
    newName: registry.onstackit.cloud/senticor/project/storybook
    newTag: "81bf7bd935ed2324b45af28c64b599c7c759a1cb"
  - name: project-agents
    newName: registry.onstackit.cloud/senticor/project/agents
    newTag: "81bf7bd935ed2324b45af28c64b599c7c759a1cb"
  - name: project-openclaw
    newName: registry.onstackit.cloud/senticor/project/openclaw
    newTag: "81bf7bd935ed2324b45af28c64b599c7c759a1cb"

patches:
  - path: patches/backend.yaml
  - path: patches/worker.yaml
  - path: patches/push-worker.yaml
  - path: patches/watch-worker.yaml
  - path: patches/agents.yaml
  - path: patches/frontend.yaml
  - path: patches/storybook.yaml
  - path: patches/postgres.yaml
  - path: patches/backend-pubsub.yaml
  - path: patches/worker-pubsub.yaml
  - path: patches/watch-worker-pubsub.yaml
