apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml

images:
  - name: project-backend
    newName: registry.onstackit.cloud/senticor/project/backend
    newTag: "f18e52b5574506027b01109336fd8b414423a07e"
  - name: project-frontend
    newName: registry.onstackit.cloud/senticor/project/frontend
    newTag: "f18e52b5574506027b01109336fd8b414423a07e"
  - name: project-storybook
    newName: registry.onstackit.cloud/senticor/project/storybook
    newTag: "f18e52b5574506027b01109336fd8b414423a07e"

patches:
  - path: patches/backend.yaml
  - path: patches/worker.yaml
  - path: patches/push-worker.yaml
  - path: patches/watch-worker.yaml
  - path: patches/frontend.yaml
  - path: patches/storybook.yaml
  - path: patches/postgres.yaml
  - path: patches/backend-pubsub.yaml
  - path: patches/worker-pubsub.yaml
  - path: patches/watch-worker-pubsub.yaml
