apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - configmap.yaml

images:
  - name: project-backend
    newName: registry.onstackit.cloud/senticor/project/backend
    newTag: "21e1a9194282c3d2f299e9a2e3a9b9dce3d18bf3"
  - name: project-frontend
    newName: registry.onstackit.cloud/senticor/project/frontend
    newTag: "21e1a9194282c3d2f299e9a2e3a9b9dce3d18bf3"
  - name: project-storybook
    newName: registry.onstackit.cloud/senticor/project/storybook
    newTag: "21e1a9194282c3d2f299e9a2e3a9b9dce3d18bf3"

patches:
  - path: patches/backend.yaml
  - path: patches/worker.yaml
  - path: patches/push-worker.yaml
  - path: patches/watch-worker.yaml
  - path: patches/frontend.yaml
  - path: patches/storybook.yaml
  - path: patches/postgres.yaml
  - path: patches/backend-pubsub.yaml
  - path: patches/worker-pubsub.yaml
  - path: patches/watch-worker-pubsub.yaml
