apiVersion: apps/v1
kind: Deployment
metadata:
  name: push-worker
spec:
  template:
    spec:
      initContainers:
        - name: wait-for-postgres
          resources:
            requests:
              cpu: 50m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
      containers:
        - name: push-worker
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 512Mi
