apiVersion: apps/v1
kind: Deployment
metadata:
  name: push-worker
spec:
  template:
    spec:
      imagePullSecrets:
        - name: stackit-registry
      initContainers:
        - name: wait-for-postgres
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: push-worker-secrets
          resources:
            requests:
              cpu: 50m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
      containers:
        - name: push-worker
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: push-worker-secrets
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 512Mi
