apiVersion: apps/v1
kind: Deployment
metadata:
  name: storybook
spec:
  template:
    spec:
      imagePullSecrets:
        - name: stackit-registry
      containers:
        - name: storybook
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
